asgiref==3.2.5
certifi==2019.11.28
chardet==3.0.4
covid==1.4.4
dj-database-url==0.5.0
Django==3.0.14
django-chartjs==2.0.0
django-heroku==0.3.1
falcon==2.0.0
gunicorn==20.0.4
hug==2.6.1
idna==2.9
jsons==1.1.2
numpy==1.18.2
pandas==1.0.3
plotly==4.5.4
psycopg2==2.8.4
pydantic==1.4
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
retrying==1.3.3
six==1.14.0
sqlparse==0.3.1
typish==1.4.0
urllib3==1.25.8
whitenoise==5.0.1
